@{
    Layout = "_Layout";

}
@model JAGS.Models.HomeModel


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <b>HELLO!</b>
    </div>
}














