@{
    Layout = "_Layout";

}
@model JAGS.Models.LoginModel

@using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Login)
    @Html.ValidationMessageFor(model => model.Login)
    @Html.TextBoxFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <button type="submit">Login</button>
}