body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}
body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
}

#wrap {
    width: 1500px;
    margin: 0 auto
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left
}

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666
    }

        #external-events p input {
            margin: 0;
            vertical-align: middle
        }

#calendar {
    float: right;
    width: 900px
}

.mb-20 {
    margin-bottom: 20px
}

.SemesterAndLabel{
    float:left;
}

.navbar-inverse {
    background-color: #A5ACAF !important;
    color: white
}

img{
    float:left;
    height:64px;
    width:128px;
}
.navbar-inverse .navbar-brand{
    color:white;
}