@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc; 
@using Microsoft.AspNetCore.Http;

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<!-- Test -->