
@{
    ViewData["Title"] = "Create/Edit Schedule";
    if (ViewBag.sessiontype == "Admin")
    {
    Layout = "_Layout";
    }
    else if (ViewBag.sessiontype == "Editor")
    {
    Layout = "_LayoutEditor";
    }
    else if (ViewBag.sessiontype == "Viewer")
    {
    Layout = "_LayoutViewer";
    }
}
@*Scripts.Render(~wwwroot/js/site.js)*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/js/site.js"></script>
<h2>Create Edit Schedule</h2>
<div id='wrap'>
                <div id='external-events'>
                  <div id='external-events-listing'>
                    <h4>Draggable Events</h4>
                    <div class='fc-event'>My Event 1</div>
                    <div class='fc-event'>My Event 2</div>
                    <div class='fc-event'>My Event 3</div>
                    <div class='fc-event'>My Event 4</div>
                    <div class='fc-event'>My Event 5</div>
                  </div>
                </div>
                <div class="container">
                    <div class="col-md-12">
                      
                      <div class="col-md-6 mb-20">
                        <div id='calendar1'></div>
                      </div>
                      
                      <div class="col-md-6 mb-20">
                        <div id='calendar2'></div>
                      </div>
                      
                      <div class="col-md-6 mb-20">
                        <div id='calendar3'></div>
                      </div>
                      
                    </div>
                </div>
        </div>