@{
    ViewData["Title"] = "Create/Edit Schedule";
    Layout = "_Layout";
}
<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>

<h2>Create Edit Schedule</h2>
<div class="CEScheduleTop">
     
</div>