
@{
    ViewData["Title"] = "Create/Edit";
    Layout = "_Layout";
}
@using static Microsoft.DotNet.PlatformAbstractions.ApplicationEnvironment;

<h2>CreateEdit</h2>
<div id="CEScheduleTop">
    <p>@ViewBag.session</p>

</div>